Repository shakogegia/mern-monorepo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tslint --fix, yarn stylelint, stylelint --fix

.lintstagedrc:

{
  "*.{js, jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx}": [
    "tslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{md,html}": [
    "prettier --write",
    "git add"
  ],
  "*.css": [
    "yarn stylelint",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ]
}

chore: docs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_cli.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/questions.md
Due: prettier --write

docs: bug
  .github/ISSUE_TEMPLATE/bug_report_cli.md
Due: prettier --write

chore: expo
  .dockerignore
  .eslintignore
  .gitignore
  .prettierignore
  .prettierrc
  .stylelintignore
  package.json
  packages/expo-yarn-workspaces/bin/AppEntry.template.js
  packages/expo-yarn-workspaces/bin/check-workspace-dependencies.js
  packages/expo-yarn-workspaces/bin/expo-yarn-workspaces.js
  packages/expo-yarn-workspaces/bin/make-entry-module.js
  packages/expo-yarn-workspaces/bin/symlink-necessary-packages.js
  packages/expo-yarn-workspaces/index.js
  packages/expo-yarn-workspaces/package.json
  packages/mobile/.eslintignore
  packages/mobile/.eslintrc
  packages/mobile/.prettierrc
  packages/mobile/App.js
  packages/mobile/__tests__/App-test.js
  packages/mobile/app.json
  packages/mobile/babel.config.js
  packages/mobile/components/StyledText.js
  packages/mobile/components/TabBarIcon.js
  packages/mobile/components/__tests__/StyledText-test.js
  packages/mobile/constants/Colors.js
  packages/mobile/constants/Layout.js
  packages/mobile/metro.config.js
  packages/mobile/navigation/AppNavigator.js
  packages/mobile/navigation/AppNavigator.web.js
  packages/mobile/navigation/MainTabNavigator.js
  packages/mobile/package.json
  packages/mobile/rn-cli.config.js
  packages/mobile/screens/HomeScreen.js
  packages/mobile/screens/LinksScreen.js
  packages/mobile/screens/SettingsScreen.js
  yarn.lock
Due: eslint --fix, prettier --write

docs: readme
  README.md
Due: prettier --write

chore: lib
  packages/common/lib/common.js
  packages/constants/lib/constants.js
Due: eslint --fix, prettier --write

chore: gitignore
  .gitignore
  Docker-compose.yml
  package.json
  packages/api/.gitignore
  packages/api/package.json
  packages/client/package.json
  packages/common/.gitignore
  packages/constants/.gitignore
  packages/mobile/package.json
  packages/socket/.env
  packages/socket/.gitignore
  packages/socket/index.js
  packages/socket/package.json
  packages/socket/src/index.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove socket old index
  packages/socket/index.js
Due: eslint --fix, prettier --write

chore: docker
  .dockerignore
  Docker-compose.yml
  packages/client/Dockerfile
Due: none

chore: docker
  Docker-compose.yml
  package.json
  packages/api/Dockerfile
  packages/api/nodemon.json
  packages/api/package.json
  packages/api/src/routes/index.js
  packages/api/src/views/index.ejs
  packages/client/Dockerfile
  packages/client/package.json
  packages/common/package.json
  packages/constants/package.json
  packages/socket/Dockerfile
  packages/socket/index.js
  packages/socket/nodemon.json
  packages/socket/package.json
  packages/socket/src/index.js
  yarn.lock
Due: eslint --fix, prettier --write

docs: contribution
  README.md
Due: prettier --write

chore: remove circle ci
  .circleci/config.yml
  bin/commit_check.sh
Due: none

chore(release): publish 0.0.2
  lerna.json
  packages/agenda/package.json
  packages/api/package.json
  packages/common/package.json
  packages/models/package.json
Due: none

fix: test
  .vscode/settings.json
  packages/mobile/.watchmanconfig
Due: none

docs: readme
  packages/api/README.md
Due: prettier --write

chore: independent versioning
  lerna.json
Due: none

chore(release): publish %s
  packages/agenda/CHANGELOG.md
  packages/agenda/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/mobile/CHANGELOG.md
  packages/mobile/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
  packages/socket/CHANGELOG.md
  packages/socket/package.json
Due: prettier --write

chore(release): publish %s
  packages/api/package.json
Due: none

chore: package
  package.json
Due: none

chore(release): publish %s
  packages/common/package.json
Due: none

chore(release): publish %s
  packages/agenda/package.json
  packages/api/package.json
  packages/common/package.json
  packages/constants/package.json
  packages/models/package.json
Due: none

chore(release): publish %s
  packages/agenda/CHANGELOG.md
  packages/agenda/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/models/CHANGELOG.md
  packages/models/package.json
Due: prettier --write

chore(release): publish %s
  packages/api/CHANGELOG.md
  packages/api/package.json
Due: prettier --write

chore: actions
  .github/workflows/api.yml
Due: none

chore: action
  .github/workflows/api.yml
Due: none

chore: actions
  .github/workflows/client.yml
Due: none
